@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin elevate {
  padding: 2em 4em;
  box-shadow: 0 0 0.5rem 0.1rem var(--accent-shadow);
  border-radius: inherit;
}

body {
  min-height: 100svh;
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  position: relative;
  padding: 1rem;
}

footer {
  padding: 1rem 2rem;
}

footer {
  background: var(--brand);
}

main {
  @include center-flex();
  padding: 2rem 0;
}

footer {
  @include center-flex();
  flex-direction: column;
  color: var(--brand-white);
  font-weight: bold;
}
