html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  border: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  /* Main Theme Hue */
  --brand-hue: 220;
  --brand-white: hsl(var(--brand-hue) 100% 95%);
  --brand-black: hsl(var(--brand-hue) 100% 10%);

  --accent-shadow: hsla(var(--brand-hue), 100%, 20%, 0.25);
}

.light {
  --brand: hsl(var(--brand-hue) 80% 45%);

  --text: var(--brand-black);
  --text-inverse: var(--brand-white);

  --accent-saturation: 50%;
  --alpha: 0.6;

  --accent-surface: hsla(
    var(--brand-hue),
    var(--accent-saturation),
    85%,
    var(--alpha)
  );
  --accent-screen: hsla(var(--brand-hue), var(--accent-saturation), 15%, 0.85);
  --accent-numpad: hsla(
    var(--brand-hue),
    var(--accent-saturation),
    65%,
    var(--alpha)
  );
  --accent-mutator: hsla(348, var(--accent-saturation), 45%, var(--alpha));
  --accent-operator: hsla(16, 100%, 65%, var(--alpha));
}

.dark {
  --brand: hsl(var(--brand-hue) 80% 40%);

  --text: var(--brand-white);
  --text-inverse: var(--brand-black);

  --accent-saturation: 25%;
  --alpha: 0.4;

  --accent-surface: hsla(var(--brand-hue), var(--accent-saturation), 85%, 0.25);
  --accent-screen: hsla(
    var(--brand-hue),
    var(--accent-saturation),
    95%,
    var(--alpha)
  );
  --accent-numpad: hsla(
    var(--brand-hue),
    var(--accent-saturation),
    65%,
    var(--alpha)
  );
  --accent-mutator: hsla(348, var(--accent-saturation), 45%, var(--alpha));
  --accent-operator: hsla(16, 100%, 65%, var(--alpha));
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: hsl(var(--brand-hue) 80% 40%);

    --text: var(--brand-white);
    --text-inverse: var(--brand-black);

    --accent-saturation: 25%;
    --alpha: 0.4;

    --accent-surface: hsla(
      var(--brand-hue),
      var(--accent-saturation),
      85%,
      0.25
    );
    --accent-screen: hsla(
      var(--brand-hue),
      var(--accent-saturation),
      95%,
      var(--alpha)
    );
    --accent-numpad: hsla(
      var(--brand-hue),
      var(--accent-saturation),
      65%,
      var(--alpha)
    );
    --accent-mutator: hsla(348, var(--accent-saturation), 45%, var(--alpha));
    --accent-operator: hsla(16, 100%, 65%, var(--alpha));
  }
}

#theme-toggle {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  border: 4px solid var(--accent-4);
  cursor: pointer;
  background: hsl(210, 100%, 85%);
}

/* Toggle Indicator */

#theme-toggle::after {
  content: '';
  height: 1rem;
  width: 1rem;
  background: hsl(50, 100%, 50%);
  box-shadow: 0 0 0.35rem black;
  position: absolute;
  margin: auto;
  top: 0;
  left: 10%;
  bottom: 0;
  border-radius: 50%;
  transition: 0.3s;
}

/* Checked Styles */

#theme-toggle:checked {
  background: hsl(210, 100%, 15%);
}

#theme-toggle:checked::after {
  left: 90%;
  transform: translateX(-100%);
  background: unset;
  box-shadow: inset -0.4rem -0.25rem 0 hsl(55, 80%, 90%);
}

#theme-toggle:not(:focus):hover,
#theme-toggle:active {
  background: hsl(210, 100%, 30%);
}

#theme-toggle:not(:focus):hover::after,
#theme-toggle:active::after {
  left: 50%;
  transform: translateX(-50%);
  background: unset;
  box-shadow: inset -0.6rem -0.125rem 0 hsl(55, 80%, 70%);
}

body {
  min-height: 100svh;
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  position: relative;
  padding: 1rem;
}

footer {
  padding: 1rem 2rem;
}

footer {
  background: var(--brand);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--brand-white);
  font-weight: bold;
}

.calculator {
  font-size: clamp(1rem, 5vmin, 1.75rem);
  font-weight: bold;

  --gap: 0.5em;
  --border-radius: 1em;

  width: min(600px, 80%);
  height: min-content;
  padding: var(--gap);
  border-radius: var(--border-radius);
  box-shadow: 0 0 1em 0.05em var(--text);
  background: var(--accent-surface);

  display: grid;
  gap: var(--gap);
  grid-template-areas:
    'screen screen screen screen'
    'mut    mut    mut    operators'
    'numpad numpad numpad operators'
    'numpad numpad numpad operators'
    'numpad numpad numpad operators'
    'numpad numpad numpad operators';
  grid-template-rows: repeat(6, minmax(10vh, 1fr));
  grid-template-columns: repeat(4, 1fr);
}

.calculator > * {
  border-radius: 1rem;
}

.calculator__screen {
  font-size: 2em;
  color: var(--text-inverse);
  background: var(--accent-screen);
  padding: 0.25em;

  grid-area: screen;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__mutators {
  --bg: var(--accent-mutator);
  grid-area: mut;
  display: grid;
  gap: inherit;
  place-items: center;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
}

.calculator__numpad {
  --bg: var(--accent-numpad);
  grid-area: numpad;
  display: grid;
  gap: inherit;
  place-items: center;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.calculator__operators {
  --bg: var(--accent-operator);
  grid-area: operators;
  display: grid;
  gap: inherit;
  place-items: center;
  grid-template: repeat(5, 1fr) / repeat(1, 1fr);
}

.calculator__item {
  background: var(--bg);
  width: 100%;
  height: 100%;
  border-radius: 25rem;
  color: var(--text);
}

.calculator__item-double {
  grid-column: span 2;
}

.calculator__item:hover {
  transform: scale(1.1);
  filter: brightness(115%);
  cursor: pointer;
}
